.app-header{
  position: fixed;
  width 100%
  padding 10px 160px
  background-color white;
  z-index 1
  border-bottom 1px solid #c1c1c1
  .brand{
    .brand-item-wrapper{
      text-decoration none
      text-transform none
      .brand-item{
        display inline-block
      }
      .logo{
        img{
          height 50px
        }
        padding-right 12px
      }
      .brand-title{
        padding-left 12px
        border-left 2px solid primary
        color #1a1a1a
        font-weight bold
        font-family: 'Indie Flower', cursive;
        font-size m + 0.8rem
      }
    }
  }


}