.lgf-layout{
  margin-top 140px
  border-radius 1px
  border 1px solid grey
  background-color white
  padding 0 20px
  padding-bottom 20px
  .app-tile{
    font-family: 'VT323', monospace;
    text-align center
    color #1a1a1a
    font-weight bold
    padding 8px 0
    font-size 2.5em
  }
  .separate{
    margin-top 20px !important
    div{
      background-color grey
      height 2px
      margin-top 14px
    }
    p{
      color grey
      font-weight bold
      font-size m - 0.5rem
      text-align center
    }
  }
}