.margin{
  height 20px
}
.warning{
  margin-top 6px !important
  margin-bottom 10px !important
  border-radius 6px
  background-color danger
  span{
    font-size m - 0.3rem
  }
  p{
    font-size sm - 0.2rem
    font-weight lighter
    letter-spacing 1px
  }
}
.warn-slide-enter {
  opacity  0
}

.warn-slide-enter.warn-slide-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
}

.warn-slide-exit {
  height: 1;
}

.warn-slide-exit.warn-slide-exit-active {
  height: 0;
  transition: opacity 1s ease;
}