
.options-wrapper{
  width 100px
  position absolute
  top 30px
  left 50%
  background-color white
  border-radius 3px
  border 1px solid grey
  transform translateX(-50%)
  z-index 2
  padding 5px 0
  div
  {
    padding 5px 5px
    color #898989
    font-size sm - 0.3rem
    text-align left
    cursor pointer
    transition all 0.1s linear
  }
  div:hover{
    background-color #f2f2f2
  }
}