.post-stuff{
  padding 0 5px
  overflow hidden

  .post-type{
    margin-top 10px
  }
}
.post-type-fade-enter {

  opacity: 0;
}

.post-type-fade-enter.post-type-fade-enter-active {

  opacity: 1;
  transition: opacity 0.2s ease;
}

.post-type-fade-exit {

  opacity: 1;
}

.post-type-fade-exit.post-type-fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease;
}