.img-display{
  padding 0 20px
  margin-bottom 10px !important


  .img-preview{
    overflow hidden !important
    cursor pointer
    position relative
    border 3px solid transparent
    border-radius 3px

    transition all 0.1s ease;
    img{
      width 100%
      position absolute
      top 50%
      left 50%
      transform translate(-50%,-50%)
    }
    .more-notice{
      position absolute
      z-index 1
      width 100%
      height 100%
      background-color rgba(0,0,0,0.6)
      p{
        color white
        position absolute
        text-align center
        top 50%
        left 50%
        transform translate(-50%,-50%)
        font-size lg + 1rem
        font-weight bold
        font-family: 'Montserrat', sans-serif;
      }

    }
  }
  .more-notice{

  }
  .img-preview:hover{
    border-color primary
  }
  .big-image{
    height 350px
  }
  .small-image{
    height 150px
  }
}
