.post-loading{
  text-align center
  padding 100px 20px
  ul{
    list-style-type none
    li{
      display inline-block
      width 15px !important
      height 15px !important
      border-radius 50%
      margin 3px
      background-color #8c8c8c

    }
    .wave{
      animation wave 1s linear infinite
    }
    @keyframes wave{
      0%,40%{
        transform translateY(0)
      }
      20%{
        transform translateY(-20px)
      }
      100%{
        transform translateY(0)
      }

    }
  }
}