.profile-view{
  position absolute
  width 180px
  height 220px
  left 50%
  transform translateX(-50%)
  top 50px
  border-bottom 2px solid primary
  border-radius 4px
  overflow hidden
  background-color #5b5757
  .avatar{
    margin-top 10px;
  }
  .user-name{
    color white
    text-align center
    overflow hidden
    padding 0 12px
    margin-top 8px

    font-size sm + 0.2rem
  }
  .profile-view-ultils{
    margin-top 10px
    .pv-option{
      padding 0 10px
      font-size sm + 0.3rem
      border-left 3px solid transparent
      .option-title{
        padding-left 10x !important
        text-align left
      }
    }
    .pv-option:hover{
      border-color white
    }
  }
}