.post-nav{
  overflow hidden
  .p-nav-item{
    border-bottom 1px solid grey
    padding-bottom 4px !important
    cursor pointer
    text-align center
    color #898888
    font-weight bold
    span{
      padding 0 5px
      font-size sm - 0.2rem
    }
    .nav-icon{
      color primary
    }
  }
  .post-active{
    border none
    box-shadow:0 0 7px #333333
  }

}