.margin{
  height 20px
}
.warning{
  margin-top 6px !important
  margin-bottom 10px !important
  border-radius 6px
  background-color danger
  span{
    font-size m - 0.3rem
  }
  p{
    font-size sm - 0.2rem
    font-weight lighter
    letter-spacing 1px
  }
}
.warning-slide-enter {
  height 0
}

.warning-slide-enter.warning-slide-enter-active {
  height: auto;
  transition: opacity 5s ease;
}

.warning-slide-exit {
  height: auto;
}

.warning-slide-exit.warning-slide-exit-active {
  heighte: 0;
  transition: opacity 5s ease;
}