.signup-form{
  height 90%
  width 100%
  top 0
  position absolute
  form{
    .form-group{
      position relative
      .fake-holder{
        position absolute
        color #919191
        font-size m - 0.5rem
        left 8px
        transition all 0.3s ease
        top 50%
        transform translateY(-50%)
        transform-origin 0 0
      }
      .on-focus{
        transform scale(0.7) translateY(-120%)
        color favor
      }
      input{
        font-size m - 0.5rem
        padding 6px 8px
      }
      .i-focus{
        padding-bottom 0
        padding-top 15px
        font-size m - 0.5rem
        border-color favor
        font-weight 100
        box-shadow none
      }
    }
    .submit-btn-wrap{
      padding 0
      margin-top 20px !important
      button{
        padding 5px 0
        font-size sm + 0.2rem
        color white
      }
    }
  }
}