.post-action{
  padding-bottom 10px
  div{
    padding 0 20px
    margin-top 10px
    button{
      transition all 0.1s ease
      outline none
    }
    .post-article{
      background-color white
      font-size sm - 0.4rem
      color primary
      letter-spacing 1px
      border 1px solid primary
    }
    .close-post{
      background-color white
      color #969696
      font-size sm - 0.4rem
      border 1px solid #969696
      letter-spacing 1px
    }
    button:hover{
      box-shadow:0 1px 2px #333333
    }
  }
  .error-notify{
    padding 0  5px !important
    color danger
    font-size sm  - 0.4rem
  }
}