
.r-layout{
  .r-header{
    padding 8px 20px
    background-color favor
    .brand-wrapper{
      text-decoration none
      .brand{
        color white
        font-family: 'Lato', sans-serif;
        font-weight bold
        letter-spacing 1px
        line-height 20px
        .brand-sub{
          font-size sm - 0.25rem
          padding-left 15px
        }
      }
    }
  }

}
