.r-route{
  margin-top 100px
  border-radius 1px
  border 1px solid grey
  background-color white
  padding 0 20px
  .login-form-wrapper{
    min-height 235px
    position relative
  }
  .signup-form-wrapper{
    min-height 352.5px
    position relative
  }
  .app-tile{
    font-family: 'VT323', monospace;
    text-align center
    color #1a1a1a
    font-weight bold
    padding 8px 0
    font-size 2.5em
  }
  .separate{
    margin-top 20px !important
    margin-bottom 10px !important
    div{
      background-color #9e9c9c
      height 2px
      margin-top 14px
    }
    p{
      color #9e9c9c
      font-weight bold
      font-size m - 0.5rem
      text-align center
    }
  }
  //.form-fade-appear {
  //  opacity: 0;
  //}
  //
  //.form-fade-appear.form-fade-appear-active {
  //  opacity: 1;
  //  transition: opacity .3s ease-in;
  //}
  .form-fade-enter {
    position absolute
    opacity: 0;
  }

  .form-fade-enter.form-fade-enter-active {
    position relative
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .form-fade-exit {
    position absolute
    opacity: 1;
  }

  .form-fade-exit.form-fade-exit-active {
    position relative
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}