.main-route-fade-enter {
  opacity: 0;
}

.main-route-fade-enter.main-route-fade-enter-active {

  opacity: 1;
  transition: opacity 1s ease;
}

.main-route-fade-exit {
  opacity  1
}

.main-route-fade-exit.main-route-fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease;
}